.git
.github
.cache
site

**/.env
**/.env.*
!**/.env.example

frontend/node_modules
frontend/.astro
frontend/dist

backend/bin
backend/out
backend/build
backend/dist
backend/coverage
backend/tmp

**/*.log
